.box {
  width: 300px;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0 4px 20px rgba(0, 128, 0, 0.2);
  padding: 20px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

footer {
  background: linear-gradient(90deg, #0be908e9, #3cb371);
  color: white;
  text-align: center;
  padding: 15px 0;
  border-top: 3px solid #fff;
}

.slider {
  width: 80%;
  max-width: 800px;
  height: 400px;
  margin: 40px auto;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  
}

.slider img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: fade 20s infinite;
  margin-bottom: 40px;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  5% {
    opacity: 1;
  }

  15% {
    opacity: 1;
  }

  30% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  60% {
    opacity: 0;
  }

  10% {
    opacity: 1;
  }

}

.slider img:nth-child(1) {
  animation-delay: 0s;
}

.slider img:nth-child(2) {
  animation-delay: 4s;
}

.slider img:nth-child(3) {
  animation-delay: 8s;
}

.slider img:nth-child(4) {
  animation-delay: 9s;
}

slider img:nth-child(5) {
  animation-delay: 13s;
}

slider img:nth-child(6) {
  animation-delay: 17s;
}

slider img:nth-child(7) {
  animation-delay: 18s;
}

h2 {



  display: block;
  text-align: center;
  margin: 10px auto 30px;
  color: #1b5e20;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
  background: #45ef11;
  padding: 10px 20px;
  border-radius: 30px;
  width: fit-content;
  transition: background 0.5s;
}

.hh {
  text-decoration: none;
  color: rgba(255, 0, 0, 0.964);
  height: 60px;
  text-shadow: 0 0 10px #421182;
  font-size: 25px;

}

.content {
  background-color: #45ef11;
  display: flex;
  gap: 30px;
  margin-top: 40px;
  justify-content: center;
  margin-bottom: 30px;

}

body {
  background-image: url("https://cdn.pixabay.com/photo/2017/10/29/15/58/trees-2900064_1280.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: contrast(110%) brightness(105%) saturate(110%);
}